---
import MainLayout from "../layouts/MainLayout.astro";
import Velkommen2 from "../components/Velkommen2.astro";
import H2Sektion from "../components/H2sektion.astro";
import Citat from "../components/Citat.astro";
import Sommercamp from "../components/Sommercamp.astro";
import Stilarter from "../components/Stilarter.astro";
import Cardslider from "../components/Cardslider.astro";
import Reviews from "../components/Reviews.astro";
import Slider from "../components/Slider.astro";
---

<MainLayout title="Twin Dance Studio - Velkommen">
  <Velkommen2 />
  <H2Sektion />
  <Citat />
  <Sommercamp />
  <h1>Her skal der være en slider med stilarter</h1>
  <Slider />
</MainLayout>
