---
import MainLayout from "../layouts/MainLayout.astro";
import Velkommen from "../components/Velkommen.astro";
import H2Sektion from "../components/H2sektion.astro";
---

<MainLayout title="Twin Dance Studio">
  <Velkommen />
  <section>
    <H2Sektion />
  </section>
</MainLayout>
