---
import MainLayout from "../layouts/MainLayout.astro";
import Omos from "../components/Omos.astro";
import Teamkort from "../components/Teamkort.astro";
import Headerimg from "../components/Headerimg.astro";
---

<MainLayout title="Twin Dance Studio - Hvem er twin teamet" meta="Twin Dance Studio kan stolt præsentere vores fire danselærere, Caroline Strubberg, Katrine Strubberg, Neel Verdich og Marie Meinel.">
  <Headerimg imgPath="/img/headerimg3.webp" />
  <Omos />
  <section>
    <h2>Twin team</h2>
    <Teamkort variant="right" imgPath="" navn="Katrine Strubberg og Caroline Strubberg" tekst="Katrine Strubberg og Caroline Strubberg er ejer og medstifter af TWIN Dance Studio. De er uddannet danselærer, hos De Danske Danseskoler. De har undervist i 15 år, på alle niveauer og alle aldersgrupper. Katrine og Caroline er søde, smilende og energiske undervisere. Det er altid sjovt og der er knald på timerne. Vi glæder os til at dele vores mange års danse erfaring med alle eleverne." />
    <Teamkort variant="left" imgPath="" navn="Maria Meinel" tekst="Maria Meinel har HIP HOP og DANCEHALL hos os. Maria er uddannet danselærer, hos De Danske Danseskoler. Hun har undervist de sidste 15 år, på alle niveauer og alle aldersgrupper.Maria er en glad, energisk og dygtig underviser. Maria´s altid glade humør er enormt smittende.Maria er med på de nyeste trends indenfor dansen.Maria´s mange års undervisningserfaring gør, at hun ved lige præcis hvordan man kan give eleverne den bedste danseoplevelse.Med andre ord – Vi er SÅ glade og stolte over, at have Maria som en del af vores TWIN Dance Studio team. Vi glæder os over at kunne give vores danseelever muligheden og oplevelsen af hendes undervisning." />
    <Teamkort variant="right" imgPath="" navn="Neel Verdich" tekst="Neel Verdich er endnu en af de fantastiske undervisere der er en del af vores TWIN Dance Studio team. Neel skal have Hip Hop/Commerciel. Neel er en sød, ung, frisk pige på 19 år, som har danset siden hun var 8 år gammel. Neel har danset alt fra Hip Hop, Show, Disco, Commerciel og Comtemporary. Neel har medvirket i et utal af shows og performances. Neel er en rigtig dygtig, kreativ og sej danser, som ved lige hvad der rør sig i danseverdenen. Vi glæder os til, at børnene hos TWIN DANCE Studio får glæden af Neel." />
  </section>
</MainLayout>

<style>
  h2 {
    margin-bottom: 1rem;
  }
  @media (min-width: 900px) {
    h2 {
      margin-bottom: 2rem;
    }
  }
</style>
