---
---

<div class="betingelser">
  <h2>Betingelser</h2>
  <p>TWIN dance studio er ikke ansvarlig for hindringer, der ligger uden for danseskolens kontrol. Ved situationer, hvor vi ikke vil kunne forudse eller overvinde konsekvenserne, bortfalder retten til erstatningsundervisning samt tilbagebetaling.</p>
  <p>TWIN dance studio har ret til at tilbyde andre hold/lærer ved eventuelt sygdom eller andet der skyldes fravær hos den faste lærer.</p>
  <p>OBS! Ved indmeldelse accepterer du, at billeder/videoer af dit barn/eleven, som bliver taget i undervisningen, til turneringer og andre arrangementer i forbindelse med dans hos TWIN dance studio, må offentliggøres på vores hjemmeside, sociale medier og/eller anden offentlig omtale af danseskolen.</p>
  <p>En prøvetime hos TWIN dance studio koster 50 kr. og er ikke bindende. Tilmeldes man efterfølgende, modregnes betalingen for prøvetimen.</p>
  <h3>UDMELDELSE:</h3>
  <p>Hos TWIN dance studio er der en prøveperiode på 4 uger frem fra første gange man er til dans hos os. Fortsætter man efter de 4 ugers prøveperiode er sæsontilmeldingen bindende og vil ikke blive refunderet.</p>
  <p>TWIN dance studio er 100 % privat drevet, uden nogen for, for offentlige tilskud.</p>
  <p>TWIN dance studio er medlem af DDD – de danske danseskoler.</p>
  <h3>BETALINGSMETODER:</h3>
  <p>Hos TWIN dance studio modtager vi betaling via mobilepay eller bankoverførsel.</p>
</div>

<style>
  p {
    margin-bottom: 1rem;
  }

  h2 {
    padding-bottom: 0.5rem;
  }
  @media (min-width: 900px) {
    .betingelser {
      max-width: 1000px;
    }
  }
</style>
