---
const { variant, size } = Astro.props;
---

<button data-variant={variant} data-size={size}>
  <slot />
</button>

<style>
  button {
    border-radius: 50px;
    border: none;
  }

  /* Variants */
  [data-variant="lys"] {
    background: var(--secondary2);
    color: var(--primary1);
  }

  [data-variant="lys"]:hover {
    background: var(--secondary1);
    color: var(--secondary5);
  }

  [data-variant="mørk"] {
    background: var(--primary1);
    color: var(--secondary5);
  }

  [data-variant="mørk"]:hover {
    background: var(--secondary5);
    color: var(--primary1);
  }

  /* Sizes */
  [data-size="lille"] {
    padding: 0.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  [data-size="stor"] {
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media (min-width: 900px) {
    [data-size="lille"] {
      padding: 0.8rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    [data-size="stor"] {
      font-weight: var(--regular);
      font-size: 24px;
      padding: 1.8rem;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
</style>
