---
var count = 0;
var inc = 0;
var margin = 0;
var slider = document.getElementsByClassName("slider-width")[0];
var itemDisplay = 0;
if (screen.width > 990) {
  itemDisplay = document.getElementsByClassName("slider-container")[0].getAttribute("item-display-d");
  margin = itemDisplay * 5;
}
if (screen.width > 700 && screen.width < 990) {
  itemDisplay = document.getElementsByClassName("slider-container")[0].getAttribute("item-display-t");
  margin = itemDisplay * 6.8;
}
if (screen.width > 280 && screen.width < 700) {
  itemDisplay = document.getElementsByClassName("slider-container")[0].getAttribute("item-display-m");
  margin = itemDisplay * 20;
}

var items = document.getElementsByClassName("item");
var itemleft = items.length % itemDisplay;
var itemslide = Math.floor(items.length / itemDisplay) - 1;
for (let i = 0; i < items.length; i++) {
  items[i].style.width = screen.width / itemDisplay - margin + "px";
}

function next() {
  if (inc !== itemslide + itemleft) {
    if (inc == itemslide) {
      inc = inc + itemleft;
      count = count - (screen.width / itemDisplay) * itemleft;
    } else {
      inc++;
      count = count - screen.width;
    }
  }
  slider.style.left = count + "px";
}

function prev() {
  if (inc !== 0) {
    if (inc == itemleft) {
      inc = inc - itemleft;
      count = count + (screen.width / itemDisplay) * itemleft;
    } else {
      inc--;
      count = count + screen.width;
    }
  }
  console.log(inc);
  slider.style.left = count + "px";
}
---

<div>
  <div class="slider-container" item-display-d="4" item-display-t="3" item-display-m="1">
    <div class="slider-width">
      <div class="item">1</div>
      <div class="item">2</div>
      <div class="item">3</div>
      <div class="item">4</div>
      <div class="item">5</div>
      <div class="item">6</div>
      <div class="item">7</div>
      <div class="item">8</div>
      <div class="item">9</div>
      <div class="item">10</div>
      <div class="item">11</div>
      <div class="item">12</div>
      <div class="item">13</div>
      <div class="item">14</div>
      <div class="item">15</div>
      <div class="item">16</div>
    </div>
  </div>
  <button type="button" class="prev" onclick="prev()">Prev</button>
  <button type="button" class="next" onclick="next()">Next</button>
</div>

<style>
  .slider-container {
    position: relative;
    overflow-x: hidden;
    height: 200px;
  }
  .slider-width {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background: rgb(23 147 83);
    margin: 0 10px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
  }
  .btn {
    background: rgb(245 24 24);
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    padding: 6px 12px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .btn:nth-child(2) {
    margin-left: -74px;
  }
</style>
