---
import Button from "../components/Button.astro";
import Femteelement2 from "../components/svg/Femteelement2.astro";
---

<div class="grid_1-1">
  <div class="info">
    <h2>Twin Dance Studio er din danseskole på Islands Brygge & i Ørestaden</h2>
    <p>Her tilbyder vi dans til alle aldre, hver tirsdag og onsdag på Islands Brygge og hver mandag på Ørestaden Danseskole.</p>
    <p>Vi har mini mix til de mindste. Derudover tilbyder vi disco, showdance, moderne dans, girly, hip hop, performance og formation.</p>
    <p>Twin Dance Studio tilbyder som den eneste danseskole i nærområdet, 10 måneders danseundervisning.</p>
    <p>Vi glæder os til at byde jer velkommen til Twin Dance Studios danseunivers.</p>
    <a class="knap" href="../praktisk">
      <Button variant="lys" size="lille">Læs mere om skolen</Button>
    </a>
  </div>
  <div class="femte">
    <Femteelement2 width="650" />
  </div>
</div>

<style>
  .femte {
    margin: auto;
    padding-bottom: 2rem;
  }
  .grid_1-1 {
    margin-top: 2rem;
    display: grid;
    overflow: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .info {
    display: grid;
  }

  .knap {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
  h2 {
    padding-bottom: 1rem;
  }
  p {
    padding-bottom: 0.5rem;
  }

  @media (min-width: 900px) {
    .grid_1-1 {
      grid-template-columns: 60% 40%;
      padding-left: 3rem;
      padding-right: 0;
    }
    .femte {
      margin: 0;
      margin-left: auto;
      padding-bottom: 0;
    }
    .knap {
      padding-bottom: 5rem;
    }
    .info {
      padding-top: 3rem;
    }
  }
</style>
