---
---

<div class="placeholder"></div>

<style>
  .placeholder {
    display: block;
    height: 300px;
    width: 100%;
    background-color: var(--secondary3);
    margin-bottom: 2rem;
  }
  @media (min-width: 900px) {
    .placeholder {
      height: 500px;
    }
  }
</style>
