---
const { imgPath } = Astro.props;
---

<div class="placeholder">
  <img src={imgPath} alt="danseskole" />
</div>

<style>
  .placeholder {
    display: block;
    margin-bottom: 1rem;
  }
  img {
    height: 200px;
    object-fit: cover;
    object-position: 0;
  }
  @media (min-width: 900px) {
    img {
      height: 500px;
    }
    .placeholder {
      margin-bottom: 2rem;
    }
  }
</style>
