---
---

<section>
  <h2>Vi underviser i flere stilarter:</h2>
  <div class="grid_1-1-1">
    <div class="container">
      <h2>Mini mix</h2>
      <p>Mini mix er for skolens yngste elever. Der danses til musik fra ramasjang/MGP og børnesange som børnene kender. På mini mix undervises der ud fra moderne pædagogisk principper. Der lægges vægt på at skabe interesse for dansen, gennem tryghed, sjov og rytme.</p>
    </div>
    <div class="container">
      <h2>Disco/showdance</h2>
      <p>Disco er en dans fyldt med tempo, hurtige bevægelser og spring. Musikken er hurtige taktfaste technorytmer. I teknikken i disco tages der udgangspunkt fra show og balletten. Alle timer starter med en grundig opvarmning og spring over gulv. Der læres koreografier hvor man danser “alene”, i grupper eller hele holdet. Hvis du er til tempo, sjov og sved på panden skal du helt sikkert komme og prøve disco af.</p>
    </div>
    <div class="container">
      <h2>Moderne</h2>
      <p>Moderne tager udgangspunkt i showdansen og balletten. Der arbejdes med teknik, musikalitet, smidighed og performance.Timerne starter altid med en grundig opvarmning, efterfulgt af teknik, smidighed og spring over gulv. Dette for, at styrke kroppen og teknikken.På disse hold danses der passioneret til musikken og indlevelse er en vigtig faktor.</p>
    </div>
    <div class="container"></div>
    <div class="container"></div>
    <div class="container"></div>
  </div>
</section>

<style>
  .container h2 {
    color: var(--primary3);
  }
  @media (min-width: 900px) {
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
    }
  }
</style>
