---
import Button from "../components/Button.astro";
---

<div class="grid_1-1">
  <img class="billede" src="/img/gradient_hoppepige.webp" alt="hoppepige" />
  <div class="layer">
    <img class="gradient" src="/img/mobil_gradient.webp" alt="hoppepige" />
    <div class="fyld">
      <img src="/img/5element.webp" alt="twin dance studio" />
      <h1>Velkommen til TWIN Dance Studio</h1>
      <p>Hos TWIN Dance Studio får du dans, glæde og sammenhold. Vil du smittes med danseglæde og positiv energi så kom og dans hos TWIN Dance Studio</p>
      <a class="knap" href="../praktisk">
        <Button variant="mørk" size="lille">Tilmeld dig vores hold</Button>
      </a>
    </div>
  </div>
</div>

<style>
  .billede {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .gradient {
    height: 300px;
    width: 100%;
    grid-row: 1;
    grid-column: 1;
  }

  .layer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .fyld {
    grid-row: 1;
    grid-column: 1;
    padding: 1.5rem;
    display: grid;
  }

  .fyld img {
    display: none;
  }

  h1 {
    color: var(--secondary5);
    font-size: 38px;
  }
  p {
    font-weight: var(--light);
    font-style: italic;
    color: var(--secondary2);
    font-size: 14px;
    padding-bottom: 2rem;
  }
  .knap {
    margin: auto;
    padding-bottom: 2rem;
  }

  @media (min-width: 700px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-image: url("/img/gradient2.webp");
    }
    .gradient {
      display: none;
    }
    .fyld {
      padding: 3rem;
    }
    h1,
    p {
      text-align: end;
    }
    .knap {
      margin: 0;
      margin-left: auto;
    }
    h1 {
      font-size: 40px;
      padding-left: 1rem;
    }
    p {
      font-size: 18px;
    }
    .billede {
      height: 100%;
    }
  }

  @media (min-width: 1100px) {
    .fyld img {
      display: block;
      width: 40%;
      margin-left: auto;
      padding-top: 2rem;
    }
    h1 {
      padding-left: 4rem;
      font-size: 64px;
    }
    p {
      font-size: 22px;
    }
    .knap {
      padding-bottom: 0;
    }
  }
</style>
