---
const { title, meta } = Astro.props;
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={meta} />
    <link rel="stylesheet" href="https://use.typekit.net/gai8vxq.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Nav />
    </header>

    <slot />
    <Footer />
  </body>
</html>
